<div class='container'><div><form>  
			<p>{{errorCred }}</p>
                        <h3>Login To Enter</h3>
                        <input type='text' name='userName'  placeholder='Enter username' [(ngModel)]='userName'>
                        <input type='password' name='password'  placeholder='Enter password' [(ngModel)]='password'>
                        <button type='submit' (click)='loginUser()'>Submit</button>
                            <a href='www.google.com'>Forgot Password?</a>
                    </form></div></div>
